body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(../img/espaco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}

/*navegação e logo*/

@keyframes logo {
    from {color: rgb(22, 23, 46);}
    to {color: rgb(255, 255, 255);}
  }

.menu {
    height: 150px;
}

.logo {
    margin-top: 0;
    width: 60%;
    float: left;
}

.logo h1 {
    animation-duration: 5s;
    animation-name: logo;
    animation-iteration-count: infinite;
    padding-top: 15px;
    padding-left: 25px;
    text-transform: uppercase;
    animation-delay: 1s;
    letter-spacing: 5px;
}


.container-elementos ul li {
    display: inline-block;
    height: 55px;
    padding: 50px 10px 0px 10px;
    
}

.container-elementos {
    list-style: none;
    text-transform: uppercase;
    float: right;
    margin-right: 20px;
}

a { 
    color: inherit; 
    text-decoration: none;
}

.elements:hover {
    color: rgba(54, 73, 99, 0.541);
    border-bottom: 2px solid rgba(48, 46, 46, 0.541);
    border-bottom-width: 2px;
    
}

.chamada {
    text-align: center;
    margin-top: 100px;
}

.chamada h2 {
    letter-spacing: 10px;
}

.detalhe {
    color: rgb(255, 0, 0);
}

.detalhe-verde {
    color: green;
}


.container-planos {
    margin-top: 250px;
    text-align: center;
}

.container-planos h2 {
    margin-left: 140px;
}

.planos {
    width: 850px;
    height: 350px;
    margin-left: 280px;
    background-color: hsl(214, 100%, 10%, 0.18);
}

#pacotes {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#pacotes p {
    width: 150px;
}

.basico:hover {
    border-radius: 5px;
    background-color: black;
    transform: scaleZ(0.28);
    transition: 3s;
    z-index: 2;
}




.registrar {
    margin-top: 50px;
    width: 750px;
    height: 350px;
    text-align: center;
    background-color: hsl(214, 100%, 10%, 0.18);
}

.registrar h3 {
    width: 250px;
    padding: 150px 150px 30px 150px;
}

.input {
    margin-left: 200px;
    margin-top: 25px;
    background-color: hsla(220, 5%, 22%, 0);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

input {
    margin-bottom: 15px;
    background-color: hsl(214, 100%, 20%, 0.18);
    color: rgb(255, 255, 255);
    min-width: 120px;
    max-width: 150px;
    min-height: 20px;
    max-height: 25px;
}

.input p {
    margin-left: 65px;
}

.input button {
    margin-left: 5px;
    background-color: hsla(214, 100%, 20%, 0.18);
    color: rgb(255, 255, 255);
    width: 150px;
    border: none;
    
}

#button {
    margin-left: 5px !important;  
}

.input button:hover {
    background-color: black;
    border-radius: 30px;
    transition: 3s;
}

footer {
    margin-top: 150px;
    text-align: center;
    background-color: hsla(214, 6%, 23%, 0.18);
    
}




.slide {
    height: 250px;
    width: 250px;
    position: relative;
    bottom: 450px;
    float: right;
    right: 150px;

    
}

.slide img:hover {
    z-index: 2;
    background-color: black;
    color: white;
}

.slide img {
    height: 200px;
    width: 200px;
}
