body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    box-sizing: border-box;
    color: white;
}


#sol
{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3em;
    left: 3em;
}


#nuvem-um
{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 15em;
    top: 4em;
}
#nuvem-dois
{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 25em;
    top: 4em;
}
#nuvem-tres
{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 35em;
    top: 7em;
}
#nuvem-quatro
{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 45em;
    top: 4em;
}
#nuvem-cinco
{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 55em;
    top: 4em;
}
#aviao
{
    position: absolute;
    top: 15em;
    left: 55em;
}

/*
.mudar {
    background-color: rgb(8, 8, 63);
    background-image: none;
}
.mudanca {
    display: none;
}
.mudanca-dois {
    display: block;
}
#botao 
{
    display: none;
}
*/
