body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

/*navegação e logo*/

@keyframes logo {
    from {color: rgb(0, 0, 0);}
    to {color: rgb(255, 255, 255);}
  }

.menu {
    background-color: black;
    height: 100px;
}

.logo {
    margin-top: 0;
    width: 60%;
    float: left;
}

.logo h1 {
    animation-duration: 5s;
    animation-name: logo;
    animation-iteration-count: infinite;
    padding-top: 15px;
    padding-left: 25px;
    text-transform: uppercase;
    animation-delay: 5s;
}


.container-elementos ul li {
    display: inline-block;
    height: 55px;
    padding: 50px 10px 0px 10px;
    
}

.container-elementos {
    list-style: none;
    text-transform: uppercase;
    float: right;
    margin-right: 20px;
}

a { 
    color: inherit; 
    text-decoration: none;
}

.elements:hover {
    color: brown;
    border-bottom: 2px solid brown;
    border-bottom-width: 2px;
    
}

/**/

.comentarios {
    margin-top: 150px;
    width: 400px;
    height: 800px;
    float: left;
    border: 3px solid #bc8f8f;
    
}

hr {
    background-color: #bc8f8f;;
}

.comentarios img {
    position: absolute;
    width: 300;
    height: 300px;
    margin: 80px;
    border-radius: 20px;
}


.comentarios p {
    position: relative;
    margin-top: 400px;
    margin-left: 50px;
    width: 80%;
    
}

.comentarios h2 {
    text-align: center;
}

.botao {
    background-color: transparent;
    color: white;
}

.botao img {
    min-height: 90px;
    max-height: 100px;
    min-width: 90px;
    max-width: 100px;
   margin-top: 10px;
   margin-left: 130px;
   
}

.main {
    margin-top: 300px;
    margin-left: 700px;
    
}

.sell {
    display: flex;
    justify-content: space-around;
    list-style: none;
}